Repository GrinZero/code-shared-awesome: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
  "*.{css,less,scss}": ["npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

feat: user api-sdk
  packages/api-sdk/src/index.ts
  packages/api-sdk/src/user/index.ts
  packages/api-sdk/src/user/userInfo.ts
Due: npx prettier --write, npx eslint --fix

style: 部分样式
  apps/web/pages/home/home_left/index.module.css
  apps/web/pages/home/index.module.css
Due: npx prettier --write

feat: 布局loading
  apps/web/layouts/main-layout/index.module.scss
  apps/web/layouts/main-layout/index.tsx
  apps/web/pages/personal/index.tsx
Due: npx prettier --write, npx eslint --fix

feat: article分页和查找
  apps/koa/src/resolvers/index.ts
  apps/koa/src/start.ts
  apps/koa/src/typeDefs/index.ts
Due: npx prettier --write, npx eslint --fix

style: personal menus config
  apps/web/pages/personal/index.tsx
Due: npx prettier --write, npx eslint --fix

fix: fix some data format
  apps/web/components/articleList/index.tsx
  apps/web/pages/detail/code/index.module.css
  apps/web/pages/detail/code/index.tsx
  apps/web/pages/publish/index.module.css
  apps/web/pages/publish/index.tsx
  apps/web/types/index.ts
  packages/api-sdk/src/articleList/articleList.ts
  packages/api-sdk/src/data/index.ts
  packages/api-sdk/src/utils/index.ts
Due: npx prettier --write, npx eslint --fix

feat: change publish css
  apps/web/pages/home/index.tsx
  apps/web/pages/publish/index.module.css
Due: npx prettier --write, npx eslint --fix

fix: fix css bug
  apps/web/pages/home/home_left/index.module.css
  apps/web/pages/home/index.module.css
Due: npx prettier --write

feat: personal 关注列表
  apps/web/components/acticleItem/index.module.scss
  apps/web/components/acticleItem/index.tsx
  apps/web/pages/personal/FollowItem/index.module.scss
  apps/web/pages/personal/FollowItem/index.tsx
  apps/web/pages/personal/index.tsx
Due: npx prettier --write, npx eslint --fix

feat: personal listData
  apps/web/pages/personal/index.tsx
Due: npx prettier --write, npx eslint --fix

fix: fix home css bug
  apps/web/pages/home/home_left/index.module.css
  apps/web/pages/home/home_right/index.module.css
  apps/web/pages/home/index.module.css
Due: npx prettier --write

feat(sql): update type
  apps/koa/service/mysql/create.sql
Due: none

feat: add detail component copy code function
  apps/web/package.json
  apps/web/pages/detail/code/index.module.css
  apps/web/pages/detail/code/index.tsx
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

feat(koa): finish jwt
  apps/koa/README.md
  apps/koa/package.json
  apps/koa/src/app.ts
  apps/koa/src/config/Config.ts
  apps/koa/src/config/Jwt.ts
  apps/koa/src/config/MySQL.ts
  apps/koa/src/config/index.ts
  apps/koa/src/middlewares/index.ts
  apps/koa/src/routes/api/graphql.ts
  apps/koa/src/routes/api/index.ts
  apps/koa/src/routes/index.ts
  apps/koa/src/routes/public/auth.ts
  apps/koa/src/routes/public/index.ts
  apps/koa/src/service/mysql/index.ts
  apps/koa/src/service/mysql/pool.ts
  apps/koa/tsconfig.json
Due: npx prettier --write, npx eslint --fix

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

fix: code editor failing
  apps/web/pages/publish/index.tsx
Due: npx prettier --write, npx eslint --fix

refactor(web): use ref to instead of querySelector
  apps/web/pages/publish/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(web): use code editor;
  apps/web/package.json
  apps/web/pages/publish/index.tsx
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

feat(web): code editor theme update;
  apps/web/pages/publish/index.tsx
Due: npx prettier --write, npx eslint --fix

feat: 完成article的crud mock
  apps/koa/src/controller/Article.js
  apps/koa/src/controller/index.js
  apps/koa/src/schema/articleSchema.ts
  apps/koa/src/schema/index.ts
  apps/koa/src/start.ts
Due: npx prettier --write, npx eslint --fix

style: personal页面移动端适配
  apps/web/components/acticleItem/index.module.scss
  apps/web/layouts/main-layout/index.module.scss
  apps/web/pages/_app.tsx
  apps/web/pages/personal/AvatarHead/index.module.scss
  apps/web/pages/personal/AvatarHead/index.tsx
  apps/web/pages/personal/FollowItem/index.module.scss
  apps/web/pages/personal/index.module.scss
  apps/web/styles/common.css
Due: npx prettier --write, npx eslint --fix

feat: article建表与数据库操作
  apps/koa/src/controller/Article.js
  apps/koa/src/schema/articleSchema.ts
  apps/koa/src/service/mysql/index.ts
Due: npx prettier --write, npx eslint --fix

feat: 代码查看点击切换效果实现
  apps/vsc-code-shared-awesome/package.json
  apps/vsc-code-shared-awesome/src/treeView/layout.css
  apps/vsc-code-shared-awesome/src/treeView/showCode.html
  packages/api-sdk/src/getShowCode/index.ts
  packages/api-sdk/src/index.ts
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

feat: 代码查看点击切换效果实现
  apps/vsc-code-shared-awesome/package.json
  apps/vsc-code-shared-awesome/src/treeView/showCode.html
Due: npx prettier --write

style: home 移动端样式适配
  apps/web/components/acticleItem/index.module.scss
  apps/web/components/acticleItem/index.tsx
  apps/web/components/articleList/index.module.css
  apps/web/pages/home/home_left/index.module.css
  apps/web/pages/home/home_right/index.module.css
  apps/web/pages/home/index.module.css
Due: npx prettier --write, npx eslint --fix

feat: layout/header 登录状态判断
  apps/web/layouts/main-layout/index.tsx
  apps/web/utils/auth_token.ts
Due: npx prettier --write, npx eslint --fix

style: logo
  apps/web/layouts/main-layout/index.module.scss
  apps/web/pages/personal/index.tsx
Due: npx prettier --write, npx eslint --fix

style: media
  apps/web/styles/common.css
Due: npx prettier --write

feat: logout模拟
  apps/web/layouts/main-layout/index.module.scss
  apps/web/layouts/main-layout/index.tsx
  apps/web/utils/auth_token.ts
Due: npx prettier --write, npx eslint --fix

style: register style
  apps/web/pages/register/index.module.scss
Due: npx prettier --write

feat: 移除js的建表语句
  apps/koa/src/controller/Article.js
Due: npx prettier --write, npx eslint --fix

style: header
  apps/web/layouts/main-layout/index.module.scss
  apps/web/layouts/main-layout/index.tsx
Due: npx prettier --write, npx eslint --fix

fix: personal follow style bug
  apps/web/pages/personal/index.module.scss
Due: npx prettier --write

feat: 建表语句移到.sql
  apps/koa/service/mysql/create.sql
  apps/koa/src/controller/Article.js
Due: npx prettier --write, npx eslint --fix

feat: article库表补充字段
  apps/koa/service/mysql/create.sql
Due: none

refactor: controller.ts
  apps/koa/src/app.ts
  apps/koa/src/controller/Article.ts
  apps/koa/src/controller/index.js
  apps/koa/src/controller/index.ts
Due: npx prettier --write, npx eslint --fix

feat(koa): schemaStore
  apps/koa/package.json
  apps/koa/src/common/typings/glong.d.ts
  apps/koa/src/schema/index.ts
  apps/koa/src/schema/schemaStore.ts
  apps/koa/src/schema/userSchema.ts
  pnpm-lock.yaml
Due: npx prettier --write, npx eslint --fix

refactor(koa): delete schema type
  apps/koa/src/schema/schemaStore.ts
Due: npx prettier --write, npx eslint --fix

refactor(koa): use FieldStore instead of schameStore
  apps/koa/src/schema/fieldStore.ts
  apps/koa/src/schema/index.ts
  apps/koa/src/schema/userSchema.ts
Due: npx prettier --write, npx eslint --fix

feat(koa): commentSchema
  apps/koa/service/mysql/create.sql
  apps/koa/src/schema/commentSchema.ts
  apps/koa/src/schema/index.ts
  apps/koa/src/schema/userSchema.ts
Due: npx prettier --write, npx eslint --fix
